social-publishing-engine/n8n_workflows/platform_dispatcher.json
{
  "name": "Tier 2: Platform Dispatcher & 72-Minute Queue",
  "nodes": [
    {
      "parameters": {},
      "name": "Start / Trigger from Tier 1",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Split Ingested Tracks 1 by 1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "functionCode": "const item = $input.item.json;\nconst brandId = item.brand_id || 'phonk_pipeline';\n\n// Determine active platforms based on brand\nconst brandTargets = {\n  phonk_pipeline: ['youtube', 'instagram', 'facebook', 'tiktok', 'routenote'],\n  publixion: ['youtube', 'linkedin', 'instagram', 'facebook'],\n  myfitnessleap: ['youtube', 'instagram', 'tiktok', 'linkedin'],\n  neurostackos: ['youtube', 'tiktok', 'linkedin']\n};\n\nconst targets = brandTargets[brandId] || brandTargets.phonk_pipeline;\n\nreturn [{\n  json: {\n    ...item,\n    active_targets: targets\n  }\n}];"
      },
      "name": "Resolve Active Brand Targets",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"active_targets\"].includes('youtube') }}",
              "value2": "true"
            }
          ]
        }
      },
      "name": "Check YouTube Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 100]
    },
    {
      "parameters": {
        "workflowId": "executor_youtube_id"
      },
      "name": "Execute YouTube Upload",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1120, 100]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"active_targets\"].includes('instagram') }}",
              "value2": "true"
            }
          ]
        }
      },
      "name": "Check Instagram Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 220]
    },
    {
      "parameters": {
        "workflowId": "executor_instagram_id"
      },
      "name": "Execute Instagram Upload",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"active_targets\"].includes('facebook') }}",
              "value2": "true"
            }
          ]
        }
      },
      "name": "Check Facebook Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 340]
    },
    {
      "parameters": {
        "workflowId": "executor_facebook_id"
      },
      "name": "Execute Facebook Upload",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1120, 340]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"active_targets\"].includes('linkedin') }}",
              "value2": "true"
            }
          ]
        }
      },
      "name": "Check LinkedIn Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 460]
    },
    {
      "parameters": {
        "workflowId": "executor_linkedin_id"
      },
      "name": "Execute LinkedIn Upload",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1120, 460]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"active_targets\"].includes('tiktok') }}",
              "value2": "true"
            }
          ]
        }
      },
      "name": "Check TikTok Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 580]
    },
    {
      "parameters": {
        "workflowId": "executor_tiktok_id"
      },
      "name": "Execute TikTok Upload",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1120, 580]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"active_targets\"].includes('routenote') }}",
              "value2": "true"
            }
          ]
        }
      },
      "name": "Check RouteNote Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 700]
    },
    {
      "parameters": {
        "command": "docker exec -i social-browser-engine-1 python /app/routenote_uploader.py --audio \"${$json[\"audio_path\"]}\" --cover \"${$json[\"cover_path\"]}\" --title \"${$json[\"slug\"]}\" --artist \"Antigravity Phonk\""
      },
      "name": "Execute RouteNote $0 Bot",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1120, 700]
    },
    {
      "parameters": {
        "amount": 72,
        "unit": "minutes"
      },
      "name": "72-Minute Algorithmic Drip Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1360, 340]
    }
  ],
  "connections": {
    "Start / Trigger from Tier 1": {
      "main": [
        [
          {
            "node": "Split Ingested Tracks 1 by 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Ingested Tracks 1 by 1": {
      "main": [
        [
          {
            "node": "Resolve Active Brand Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Active Brand Targets": {
      "main": [
        [
          {
            "node": "Check YouTube Enabled",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Instagram Enabled",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Facebook Enabled",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check LinkedIn Enabled",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check TikTok Enabled",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check RouteNote Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check YouTube Enabled": {
      "main": [
        [
          {
            "node": "Execute YouTube Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Instagram Enabled": {
      "main": [
        [
          {
            "node": "Execute Instagram Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Facebook Enabled": {
      "main": [
        [
          {
            "node": "Execute Facebook Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check LinkedIn Enabled": {
      "main": [
        [
          {
            "node": "Execute LinkedIn Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check TikTok Enabled": {
      "main": [
        [
          {
            "node": "Execute TikTok Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check RouteNote Enabled": {
      "main": [
        [
          {
            "node": "Execute RouteNote $0 Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute YouTube Upload": {
      "main": [
        [
          {
            "node": "72-Minute Algorithmic Drip Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Instagram Upload": {
      "main": [
        [
          {
            "node": "72-Minute Algorithmic Drip Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Facebook Upload": {
      "main": [
        [
          {
            "node": "72-Minute Algorithmic Drip Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute LinkedIn Upload": {
      "main": [
        [
          {
            "node": "72-Minute Algorithmic Drip Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute TikTok Upload": {
      "main": [
        [
          {
            "node": "72-Minute Algorithmic Drip Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute RouteNote $0 Bot": {
      "main": [
        [
          {
            "node": "72-Minute Algorithmic Drip Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "72-Minute Algorithmic Drip Wait": {
      "main": [
        [
          {
            "node": "Split Ingested Tracks 1 by 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
